@using TOT.Dto.TimeOffRequests
@using TOT.Web.ViewModels;
@model IEnumerable<TimeOffRequestApprovalDTO>

@if (Model.Any())
{

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        Type
                    </td>
                    <td>
                        Day(s) Off
                    </td>
                    <td>
                        Notes
                    </td>
                    <td>
                        Status
                    </td>
                    <td>
                        Actions
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td>
                            <label>@item.TimeOffRequest.User.Email </label>
                        </td>

                        <td>
                            <label>@item.TimeOffRequest.Type.Title </label>
                        </td>
                        <td>
                            <label>@item.TimeOffRequest.StartsAt.ToString("MM/dd/yyyy") - @item.TimeOffRequest.EndsOn?.ToString("MM/dd/yyyy") </label>
                        </td>
                        <td>
                            <label>@item.TimeOffRequest.Note</label>
                        </td>
                        <td>
                            <label>@item.Status.Title</label>
                        </td>
                        <td>

                            <button type="button" class="btn btn-info btn-sm"
                                    onclick="location.href='@Url.Action("Details", "RequestApproval")?id='+@item.Id">
                                Details
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <center>No items found</center>
}