@using TOT.Dto.TimeOffRequests
@using TOT.Web.ViewModels;
@model IEnumerable<TimeOffRequestApprovalDTO>

@{
    ViewData["Title"] = "Create";

    var type = (int)ViewData["TypeOfList"];
}

@if (Model.Any())
{

    <table class="table" style="table-layout: fixed;">
        <thead>
            <tr>
                <td class="col-md-3">
                    <b>Name</b>
                </td>
                <td class="col-md-2">
                    <b>Type</b>
                </td>
                <td class="col-md-2">
                    <b>Day(s) Off</b>
                </td>
                <td class="col-md-3">
                    <b>Notes</b>
                </td>
                <td class="col-md-2">
                    <b>Status</b>
                </td>
                <th class="col-md-4">
                    <b>Actions</b>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="overflow:hidden">
                        @item.TimeOffRequest.User.Email
                    </td>

                    <td>
                        @item.TimeOffRequest.Type.Title
                    </td>
                    <td>
                        @item.TimeOffRequest.StartsAt.ToString("MM/dd/yyyy") - @item.TimeOffRequest.EndsOn?.ToString("MM/dd/yyyy")
                    </td>
                    <td style="overflow:hidden">
                        @item.TimeOffRequest.Note
                    </td>
                    <td>
                        @item.Status.Title
                    </td>
                    <td>
                        @switch (type)
                        {
                            case (int)TypeOfApprovalsList.RequestedApprovals:

                                <button type="button" class="btn btn-info btn-sm"
                                        onclick="location.href='@Url.Action("Details", "RequestApproval")?id='+@item.Id">
                                    Details
                                </button>

                                <button type="button" class="btn btn-success btn-sm"
                                        data-toggle="modal" data-target="#approveModal" data-arg-id="@item.Id">
                                    Approve
                                </button>

                                <button type="button" class="btn btn-danger btn-sm"
                                        data-toggle="modal" data-target="#refuseModal" data-arg-id="@item.Id">
                                    Refuse
                                </button>

                                break;

                            case (int)TypeOfApprovalsList.RefusedApprovals:

                                <button type="button" class="btn btn-info btn-sm"
                                        onclick="location.href='@Url.Action("Details", "RequestApproval")?id='+@item.Id">
                                    Details
                                </button>

                                <button type="button" class="btn btn-success btn-sm"
                                        data-toggle="modal" data-target="#approveModal" data-arg-id="@item.Id">
                                    Approve
                                </button>

                                <button type="button" class="btn btn-warning btn-sm"
                                        data-toggle="modal" data-target="#editModal" data-arg-id="@item.Id">
                                    Change comment
                                </button>

                                break;

                            case (int)TypeOfApprovalsList.AllMyApprovals:
                                <button type="button" class="btn btn-info btn-sm"
                                        onclick="location.href='@Url.Action("Details", "RequestApproval")?id='+@item.Id">
                                    Details
                                </button>
                                break;

                            case (int)TypeOfApprovalsList.AllApprovals:
                                <button type="button" class="btn btn-info btn-sm"
                                        onclick="location.href='@Url.Action("Details", "RequestApproval")?id='+@item.Id">
                                    Details
                                </button>
                                break;
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <center>No items found</center>
}